@charset "UTF-8";

:root {}

/* Base */
body {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 15px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

/* hero section */
.hero {
  background: radial-gradient(circle, #110f12 30%, #423737 60%, #1f2833 100%);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero-title {
  font-size: 150px;
  color: white;
  font-family: "Ponomar", system-ui;
  position: absolute;
  top: 30%;
  left: 45%; 
  transform: translateX(-50%); 
  text-align: center;
}

.ukrainian-text {
  position: absolute;
  left: 700px;
  top: 60%;
  color: white;
  font-family: "Ponomar", system-ui;
  font-size: 150px;
}

.hero-description {
    font-size: 20px;
    color: white;
    font-family: "Didact Gothic", sans-serif;
    position: absolute;
    left: 200px;
    top: 60%;
    line-height: 30px;
    width: 600px;
    word-wrap: break-word;
    white-space: normal;
  }
  


/* header */
.logo-link {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: auto;
  z-index: 10;
}

.logo-link-2 {
  position: absolute;
  right: 20px;
  bottom: 10px;
  width: 500px;
  /* Змінюйте розмір за потребою */
  height: auto;
}

.link {
  position: absolute;
  top: 50%;        
  left: 50%;        
  transform: translate(-50%, -50%);
  text-align: center;
  padding-left: 113px;
  padding-right: 113px;
  

}