@charset "UTF-8";

:root {}

/* Base */
body {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
    font-style: normal;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex
  }

  .visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  
  .section {
    padding: 48px 15px;
  }
  
  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
  }

  /* hero section */
.hero {
    background: radial-gradient(circle, #2a0845 30%, #40465f 60%, #1f2833 100%);
    background-size: cover ;
    height: 100vh;
    position: relative;
}

.hero-title{
    font-size: 50px;
    color: white;
    font-family: "Ponomar", system-ui;
}

.hero-description{
    font-size: 20px;
    color: white;
    font-family: "Didact Gothic", sans-serif;
}

/* header */
.logo-link img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: auto;
    z-index: 10;
  }


  